/*////////////////// GENRAL LAYOUT ///////////////*/

body {
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

nav {
    margin: 1em auto 0;;
    background: white;
    width: 100%;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1, h3 {
    text-align: center;
}

.form {
    margin: 0 auto 1em;
}

.btn {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
}

img {
    width: 250px;
}

.stats {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.move-list {
    cursor: pointer;
}

.move-ul {
    display: none;
}


/*//////////// IMG CAROUSEL SECTION //////////////*/

.back-btn, .forward-btn {
    background: white;
    width: 1em;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    height: 3vh;
    margin-top: 5em;
}

.carousel-container {
    display: flex;
    flex-direction: row;
}

.img-carousel img {
    display: none;
}

.img-carousel img:first-of-type {
    display: block;
}